#dashboardContainer{
    width: 100%;
    height: 100vh;
    background-color: #E6E6E6;
}
#dashboard_page{
    width: 100%;
    flex-grow: 1;
    padding-top: 5px;
}
#dashboard_pageContainer{
    width: 90vw;
    height: 100vh;
    left: 10vw;
    position: relative;
    color: #515151;
    display: flex;
    flex-direction: column;
}
#dashboard_noWallet{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}