#dashboard_topbar{
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    color: #515151;
    background-color: #F8F6F6;
    font-family: "Rubik", serif;
}
#dashboard_topbar * :not(h1){
    font-family: "Jura", sans-serif;
    font-size: 1rem;
}
#dashboard_topbar h1{
    padding-left: 3%;
    padding-right: 10%;
}
#dashboard_topbar > * {
    padding-left: 2%;
}
#dashboard_balance{
    display: flex;
    flex-grow: 1;
}
#dashboard_balance > *{
    padding-right: 5%;
    height: 50%;
}

#dashboard_topBarConnect{
    background-color: rgb(11, 70, 179);
    border-radius: 5px;
    color: white;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s all;
}
#dashboard_topBarConnect:hover{
    background-color: rgb(3, 46, 126);
}